@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap');
body {
  font-family: 'Nunito Sans', sans-serif;
}
*{
  margin: 0;
  padding: 0;
}
.App{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #F5F7FA;
}